*{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}
.mine-container {
  background: linear-gradient(180deg, #000F36 43.83%, #214FC4 100%);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh; /* Full viewport height */
  color: white;
  font-family: 'Times New Roman', Times, serif;
  justify-content: space-around;
}
.h2{
  padding-top: 4rem;
}
.l {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
  color: #fff;
}

.no {
  font-size: 12px;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

.button {
  
  padding: 13px 26px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
  border-radius: 40px;
  
}



.button:disabled {
  background-color: #7ea9ff;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: #0056b3;
}

.timer {
  margin-top: 2rem;
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  
}

.sec {
  font-size: 50px;
  color: #fff;
  padding: 1rem 1rem;
}


.coin{
  margin: 0;
  width: 15px;
  height: 15px;
}

.con{
  margin: 0;
  width: 250px;
  height: 250px;
  padding-top: 2rem;
}